.userDropdown {
    background-color: #fff;
    border-color: #ff0;
    border-radius: 24px;
    border-style: solid;
    border-width: 2px;
    color: #333;
    cursor: pointer;
    font-family: 'yekan', sans-serif;
    margin: 10px 20px;
    padding: 0 15px;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
        background-color: #ff0;
    }
    &:active {
        background-color: #333;
        color: #ff0;
    }
}
