/*************************************************

        global styles for min-width of 1280

*************************************************/
body {
    display: flex;
    justify-content: center;
    #__next {
        min-height: 100vh;
        position: relative;

        @media screen and (min-width: 1280px) {
            width: 1280px;
        }
    }
}
