.navbarContainer {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 65px;
    justify-content: space-between;
    padding: 5px 20px;
}
.logo {
    color: #0cafff;
    font-size: 1.2rem;
    font-weight: bold;
}
.menuContainer {
    padding: 5px 20px;
    li {
        display: inline-block;
        margin: 5px 25px;
        a {
            color: #444;
            text-decoration: none;
            transition: color 0.3s;
            &:hover {
                color: #0cafff;
            }
        }
    }
}
.userDropdown {
    background-color: #fff;
    border-color: #ff0;
    border-radius: 24px;
    border-style: solid;
    border-width: 2px;
    color: #333;
    cursor: pointer;
    font-family: 'yekan', sans-serif;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
        background-color: #ff0;
    }
    &:active {
        background-color: #333;
        color: #ff0;
    }
}
