.navbarContainer {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 65px;
    justify-content: space-between;
    padding: 5px 20px;
    @media screen and (max-width: 800px) {
        height: auto;
        display: block;
        padding-bottom: 20px;
        button {
            display: block;
            margin: auto;
            width: 50%;
        }
    }
}
.logo {
    color: #0cafff;
    font-size: 1.2rem;
    font-weight: bold;
}
.menuContainer {
    padding: 5px 20px;
    li {
        display: inline-block;
        margin: 5px 25px;

        @media screen and (max-width: 800px) {
            &:first-of-type {
                display: block;
                width: 100%;
            }
        }

        a {
            color: #444;
            text-decoration: none;
            transition: color 0.3s;
            &:hover {
                color: #0cafff;
            }
        }
    }
}
