.inputControl {
    display: flex;
    margin: 15px 0;
    label {
        background-color: #0cafff;
        color: #fff;
        padding: 2px 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 35%;
    }
    input {
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-family: 'yekan', sans-serif;
        padding: 0 15px;
        width: 65%;
    }
}
