

html {
  background-color: #f1f7f5;
}

.top {
  height:65%;
  display: inline-block;
  padding: 10px;
  
  margin: 50px auto 15px;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(10, 10, 10);
  color: rgb(170, 161, 161);
  text-align: center;
}


  .navbar { background: #dfd5d5;direction: rtl;text-align: right;padding-right: 30px;}
  ul { padding:0px; margin:0px; }
  ul.menu li { display: inline-block;list-style: none;transition: all 0.4s; position: relative; }
  ul.menu li a { display:inline-block;padding: 12px;color: #fff;text-decoration: none;transition: all 0.2s; }
  ul.menu li a:hover { background: #0a607a; }
  ul.menu li i { vertical-align: middle;margin-right: 5px; }

   #oval {
      width: 200px;
      height: 100px;
      background: red;
      border-radius: 100px / 50px;
    }
  
